@charset "utf-8";

@import url("base.css");



/***************************************************************************
 *
 * COMMON STYLE
 *
 ***************************************************************************/

body {
    background-color: #FFFFFF;
    font-size: 14px;
    line-height: 1.5;
    color: #000000;
}

img {
    max-width: 100%;
    height: auto;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

.wraper {
    width: 1000px;
    margin: 0 auto;
}

#header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: solid 1px #000000;
}

#header .fl-l {
    float: left;
}

#header .logo {
    margin-left: 0px;
    margin-top: 20px;
    margin-bottom: 17px;
    margin-right: 13px;
}

#header .slogan p {
    font-weight: bold;
    font-size: 21px;
    margin-right: 119px;
    margin-top: 3px;
}

#header .menu ul li {
    float: left;
    margin-right: 25px;
    margin-top: 16px;
}

#header .menu ul li a {
    font-weight: bold;
    font-size: 16px;
    color: #000000;
}

#header .menu ul li a:hover {
    color: #3ebdef;
}

.active {
    color: #3ebdef!important;
}



/*footer*/

#footer .footer-left {
    float: left;
}

#footer .footer-left ul li {
    float: left;
    margin-top: 28px;
    margin-bottom: 28px;
}

#footer .footer-left ul li:first-child p {
    font-size: 20px;
    margin-right: 15px;
}

#footer .footer-left ul li p a {
    color: #fff;
}

#footer .footer-left ul li p a:hover {
    border-bottom: solid 1px #fff;
}

#footer {
    background: #050001;
    overflow: hidden;
    color: #fff;
    font-weight: bold;
    width: 100%;
}

#footer .footer-right {
    float: right;
    margin-top: 28px;
    margin-bottom: 28px;
}

#footer .footer-right p:first-child {
    float: right;
}

#footer .footer-right p {
    clear: both;
    letter-spacing: 0.125px;
}

#footer .footer-right .text1 a {
    border-bottom: 1px solid #fff;
    color: #fff;
    padding-bottom: 5px;
}

#footer .footer-right .text2 a {
    border-bottom: 1px solid #fff;
    margin-left: 13px;
    color: #fff;
    padding-bottom: 5px;
}

#footer .footer-right p:first-child {
    margin-bottom: 20px;
}

#header .menu ul {
    display: block;
}



/*footer*/


/*mobile*/


/*768*/

@media(max-width: 768px) {
    .wraper {
        width: 100%;
        padding: 0 4%;
        box-sizing: border-box;
    }

    /*menu*/
    .top-animate {
    background: #fff !important;
    top: 13px !important;
    -webkit-transform: rotate(45deg);
    /* Chrome, Safari, Opera */
    transform: rotate(45deg);
}
.mid-animate {
    opacity: 0;
}
.bottom-animate {
    background: #fff !important;
    top: 13px !important;
    -webkit-transform: rotate(-225deg);
    /* Chrome, Safari, Opera */
    transform: rotate(-225deg);
}
.top-menu {
    top: 5px;
    width: 25px;
    height: 2px;
    border-radius: 10px;
    background-color: #fff;
}
.mid-menu {
    top: 13px;
    width: 25px;
    height: 2px;
    border-radius: 10px;
    background-color: #fff;
}
.bottom-menu {
    top: 21px;
    width: 25px;
    height: 2px;
    border-radius: 10px;
    background-color: #fff;
}
.menui {
    background: #fff;
    transition: 0.6s ease;
    transition-timing-function: cubic-bezier(.75, 0, .29, 1.01);
    margin-top: 10px;
    position: absolute;
}


.icon {
       z-index: 999;
    position: fixed;
    /* background: rgba(0, 0, 0, 0.21); */
    display: block;
    padding: 12px;
    height: 50px;
    width: 50px;
    margin: 0px;
    top: 20px;
    right: 20px;
    background: #41bfed;
}

.mobilenav {
    /*    top: 47px !important;*/
    font-family: inherit;
    top: 0;
    right:0;
    z-index: 999;
    display: none;
    position: fixed;
    width: 60%;
    height: 100%;
    background: #41bfed;
    padding:0;
    margin:0;
}
.mobilenav li:first-child{
    padding-top: 20px;
}
.mobilenav li {
    list-style-type: none;
    text-align: center;
    padding-left: 20px;
    text-align: left;
    clear: both;
}
.mobilenav li a {
    font-size: 150%;
    color: #fff;
    text-decoration: none;
    font-weight: 300;
    width: 200px;
    color: #fff!important;
}
.mobilenav li:first-child {
    margin-top: 60px;
}
#header .logo{
    margin-left: 20px;
}
    /*menu*/
    #header{
    	display: unset;
    }
    #header .menu .mobilenav {
        display: none;
    }
    #header .menu{
    	float: right;
    	margin-top: 15px;
    margin-right: 15px;

    }
    #header .logo {
        margin-top: 15px;
        margin-bottom: 15px;
        margin-right: 13px;
    }
    #header .slogan p{
   	font-size: 21px;
    margin-right: 10px;
    margin-top: 30px;
    }
    #banner{
    	clear: both;
    }
    #header .slogan p{
    	font-size: 21px;
    }
    #footer .footer-left{
    	float: none;
    }
      #footer .footer-left ul li{
      	float: none;
      }
      #footer .footer-left ul li p{
      	text-align: center;
      	margin: 0!important;
      }
    #footer .footer-right{
    	float: none;
    }
     #footer .footer-right p{
      	text-align: center;
      	margin: 0!important;
      	float: none!important;
      }
      #footer .footer-right p:first-child{
      	margin-bottom: 15px!important;
      }

}


/*768*/


/*414*/

@media(max-width: 414px) {
	 #header .slogan p{
    	font-size: 13px;
    }
}
/*414*/


/*mobile*/