@charset "utf-8";

/***************************************************************************
*
* index.css
*
***************************************************************************/
/*banner*/
#banner .list-item ul li{
	float: left;
	font-size: 14px;
	margin-right: 5px;
	margin-top: 20px;
	margin-bottom: 14px;
	font-weight: bold;
}
#banner .image-banner{
	background: url(../img/howto-open/banner.png)no-repeat 0 0;
	background-size: 100% 100%;
	clear: both;
	overflow: hidden;
}
#banner .image-banner .text1{
	margin-top: 135px;
	color: #fff;
	font-size: 42px;
	margin-left: 47px;
}
#banner .image-banner .text2{
	margin-bottom: 135px;
	color: #fff;
	font-size: 20px;
	margin-left: 47px;
	font-weight: bold;
}
/*banner*/
/*content*/
#content .step ul li{
	float: left;
	margin-right: -5px;
	margin-top: 45px;
	margin-bottom: 40px;
}
#content .step ul li a{
	color: #000000;
	font-weight: bold;
}
#content .step ul li a img:hover{
	opacity: 0.8;
}
#content .step ul li .text1{
	font-size: 24px;
	margin-bottom: 10px;
}
#content .step ul li .text2{
	font-size: 16px;
}
#content .step ul li p{
	text-align: center;
}
/*area*/
#content .area .area1{
	clear: both;
	margin-bottom: 50px;
}
#content .area .area1{
	border: 2px #99ff66 solid;
	border-radius: 10px;
	box-sizing: border-box;
} 
#content .area .area1 .title-step{
	background: #e7ffd9;
	font-size: 21px;
	font-weight: bold;
	text-align: center;
	padding-top: 20px;
	padding-bottom: 20px;
	position: relative;
}
#content .area .area1 .title-step:after{
	content: "";
	background: url(../img/howto-open/arrow-top-green.png) no-repeat;
	position: absolute;
	right: 20px;
	width: 19px;
	height: 19px;
}
/*=*/
#content .area #area2 .title-step{
	background: #fff7d9;
}
#content .area #area2 .title-step:after{
	background: url(../img/howto-open/arrow-top-orange.png) no-repeat;
}
#content .area #area2{
	border: 2px #ffe580 solid;
}
#content .area #area3 .title-step{
	background: #ffd9ff;
}
#content .area #area3 .title-step:after{
	background: url(../img/howto-open/arrow-top-pink.png) no-repeat;
}
#content .area #area3{
	border: 2px #ff9aff solid;
}
#content .area #area4 .title-step{
	background: #cce3ff;
}
#content .area #area4 .title-step:after{
	background: url(../img/howto-open/arrow-top-blue.png) no-repeat;
}
#content .area #area4{
	border: 2px #99c7ff solid;
}
#content .area #area4 .title-text{
	margin-left: 20px;
	background: url(../img/howto-open/line-blue.png) no-repeat top 0 left 0;
}
#content .area #area5 .title-step{
	background: #ffddcc;
}
#content .area #area5 .title-step:after{
	background: url(../img/howto-open/arrow-top-yellow.png) no-repeat;
}
#content .area #area5{
	border: 2px #ffaa80 solid;
}
#content .area #area6 .title-step{
	background: #ffedf3;
}
#content .area #area6 .title-step:after{
	background: url(../img/howto-open/arrow-top-pink.png) no-repeat;
}
#content .area #area6{
	border: 2px #ffa3a3 solid;
}
#content .area #area6 .dest span{
	font-weight: bold;
}
/*=*/
#content .area .area1 .image{
	text-align: center;
	margin-top: 38px;
	margin-bottom: 23px;
}
#content .area .area1 .title-red{
	font-size: 24px;
	color: #ff0000;
	text-align: center;
	margin-bottom: 40px;
}
#content .area .area1 .dest{
	font-size: 16px;
	margin-left: 40px;
	margin-bottom: 28px;
	margin-right: 40px;
}
#content .area .area1 .title-text{
	font-size: 18px;
	font-weight: bold;
	margin-left: 38px;
	padding-left: 20px;
	margin-bottom: 20px;
	background: url(../img/howto-open/line-green.png) no-repeat top 0 left 0;
}
#content .area .area1 .text{
	font-size: 16px;
	margin-left: 40px;
	margin-right: 40px;
	margin-bottom: 25px;
}
#content .area .area1 .inside{
	overflow: hidden;
}
#content .area .area1 .inside ul{
	clear: both;
	overflow: hidden;
}
#content .area .area1 .inside ul li{
	float: left;
}
#content .area .area1 .inside ul li .text-code{
	font-weight: bold;
	font-size: 16px;
	margin-bottom: 30px;
	
}
#content .area .area1 .inside ul li .dest-inside{
	font-size: 14px;
	margin-top: 60px;
	
}
#content .area .area1 .inside ul li .image-inside{
	margin-bottom: 40px;
}
#content .area .area1 .inside ul li:first-child{
	width: 300px;
	margin-left: 38px;
	margin-right: 30px;
	
}
#content .area .area1 .inside ul li:last-child{
	width: 555px;
	margin-bottom: 60px;
}
/*area*/

/*content*/
@media(max-width: 768px){
	#banner .image-banner{
		background-size: 100% 100%;
	}
	#banner .image-banner .text1{
		font-weight: bold;
		font-size: 20px;
		margin-top: 50px;
		margin-left: 30px;
		margin-bottom: 10px;
	}
	#banner .image-banner .text2{
		
		font-size: 18px;
		margin-left: 30px;
		margin-bottom: 50px;
	}
	#content .step ul li p img{
		width: 150px;
		height: 50px;
	}
	#content .step ul {
		text-align: center;
	}
	#content .step ul li{
		display: inline-block;
		float: none;
		margin-top: 20px;
		margin-bottom: 5px;
	}
	#content .area .area1 .inside ul li:first-child{
		margin: 0px;
		width: 100%;
	}
	#content .area .area1 .inside ul li img{
		width: 80%;
		text-align: center;
	}
	#content .area .area1 .inside ul li .image-inside{
		margin-bottom: 0px;
	}
	#content .area .area1 .inside ul li{
		float: none;
		text-align: center;
	}
	#content .area .area1 .title-step{
		font-size: 15px;
	}
	#content .area .area1 .title-step:after{
		right: 10px;
	}
	#content .area .area1 .dest{
		margin-left: 15px;
		margin-right: 15px;
		font-size: 15px;
	}
	#content .area .area1 .title-red{
		font-size: 18px;
		margin-left: 10px;
		margin-right: 10px;
	}
	#content .area .area1 .inside ul li .dest-inside{
		margin-top: 25px;
		margin-left: 15px;
		margin-right: 15px;
		text-align: left;
	}
	#content .area .area1 .text{
		font-size: 15px;
		    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 15px;
	}
	#content .area .area1 .inside ul li:last-child{
		margin-bottom: 25px;
		width: 100%;
	}
}
