#content .list-item{
	clear: both;
}
#content .list-item ul li {
    float: left;
    font-size: 14px;
    margin-right: 5px;
    margin-top: 20px;
    margin-bottom: 29px;
    font-weight: bold;
}

#content .list-item ul li:nth-child(1) a {
    color: #00b7ee;
    border-bottom: solid 1px #00b7ee;
}

#content .list-item ul li:nth-child(3) a {
    color: #00b7ee;
    border-bottom: solid 1px #00b7ee;
}


/*list-item*/

#content .area {
    clear: both;
}

#content .area .area-left {
    width: 255px;
    float: left;
}

#content .area .area-left .item p {
    font-size: 16px;
    margin-bottom: 6px;
    font-weight: bold;
}

#content .area .area-left .item p:first-child {
    color: #fff;
    padding-left: 13px;
    width: 220px;
    height: 40px;
    background: #000000;
    font-weight: bold;
    display: table-cell;
    vertical-align: middle;
}

#content .area .area-left .item p:nth-child(2) {
    margin-top: 18px;
}

#content .area .area-left .item p:last-child {
    margin-bottom: 40px;
}

#content .area .area-left .item p a {
    color: #00b7ee;
    border-bottom: 1px solid #00b7ee;
}

#content .area .area-right {
    width: 745px;
    float: right;
}

#content .area .area-right .item {
    border-top: #cccccc solid 1px;
}

#content .area .area-right .item .title {
    font-size: 30px;
    color: #00b7ee;
    margin-top: 17px;
    font-weight: bold;
}

#content .area .area-right .item .time {
    font-size: 16px;
    color: #666666;
    margin-bottom: 18px;
    font-weight: bold;
}

#content .area .area-right .item .image {
    margin-bottom: 20px;
}

#content .area .area-right .item .text-content {
    margin-bottom: 55px;
    font-weight: bold;
    font-size: 16px;
    line-height: 28px;
    margin-right: 8px;
}

#content .area .area-right .button {
    text-align: center;
    margin-bottom: 49px;
}

#content .area .area-right .button p {
    width: 182px;
    height: 49px;
    border: solid 2px #00b7ee;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

#content .area .area-right .button p:hover {
    color: #fff;
    background: #00b7ee;
}

#content .area .area-right .button a:first-child {
    margin-right: 30px;
}

#content .area .area-right .button a {
    color: #00b7ee;
    font-size: 16px;
    font-weight: bold;
}
/*content*/
/*mobile*/
@media(max-width: 768px){
	#content .area .area-left{
		width: 100%;
		float: none;
		text-align: center;
	}
	#content .area .area-left .item p:first-child{
		padding: 0;
		margin: 0;
		float: none;
		    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
	}
	#content .area .area-right{
		float: none;
		width: 100%;
	}
	#content .area .area-right .item .image img{
		width: 100%;
	}
}
@media(max-width: 414px){
	#content .area .area-right .button p{
		width: 115px;
	}
}
/*mobile*/